
/* header-area responsive */
@media (max-width: 1000px) {
    .logo-area{
        width: 200px;
    }
    .logo-area img{
        width: 80%;
    }
    .header-continer{
        width: 95%;
        margin: auto;
    }
    .right-area img{
        width: 80%;
        margin-left: 15px;
    }
    .left-area h1{
        font-size: 2.1em;
        width: 73%;
        color: #3A3A3A;
        line-height: 60px;
    }
    .logo-area img{
        width: 100%;
    }


}
@media (max-width: 880px){
        .logo-area{
        width: 100px;
    }
    .logo-area img{
        width: 50%;

    }
    .logo-area{
        margin-right: 73px;
    }
    .header-continer{
        width: 100%;
        margin: auto;
    }
    .right-area img{
        width: 50%;
        margin-left: 100px;
        margin-top: 60px;
    }
    .left-area h1{
        font-size: 2em;
        width: 100%;
        color: #3A3A3A;
        line-height: 60px;
        margin-right: 5px;
    }
    .logo-area img{
        width: 150%;
    }
    .menu-area ul li a{
        font-size: 1em;
    }
    .left-area{
        margin-left: 10px;
        margin-top: 50px;
        
    }
    /* about area start form heare */
    .bg-araea{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .about-right{
        width: 280px;
    }
    .about-right img{
        width: 100%;
    }
    .about-left{
        margin-left: 200px;
        margin-bottom: 300px;
    }



}
@media (max-width: 735px) {
    .menubar{
        display: flex;
        flex-direction: column;
    
    }
    .section{
        display: flex;
        flex-direction: column;

    }
    .menu-area{
        margin-right: 48px;
    }
    .menu-area ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .right-area{
        width: 100%;
    }
    .left-area h1{
        font-size: 2em;
        width: 100%;
        margin: auto;
    }
    .left-area p{
        margin-top: 41px;
    }
    .left-area{
        width: 100%;
    }
    button{
        align-items: center;
        display: flex;
        margin: auto;
        margin-top: 20px;
    }

}

