*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Poppins', sans-serif;
}
.logo-area{
    width: 250px;
}
.logo-area img{
    width: 100%;
}
.header-continer{
    width: 90%;
    margin: auto;
}
.menubar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    padding: 20px;

}
.menu-area ul{
    list-style: none;
    display: flex; 
}
.menu-area ul li{
    padding-left: 25px;
}
.menu-area ul li a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    color: #FE4C2E;
}
hr{
    color: #FE4C2E;
}
/* section-area start form heare */
.section{
    display: flex;
}
.left-area{
    width: 50%;
    margin-top: 150px;
}
.left-area h1{
    font-size: 3em;
    width: 73%;
    color: #3A3A3A;
    line-height: 60px;
}
.left-area p{
    margin-top: 41px;
}
.left-area span{
    color: #FE4C2E;
}
.right-area{
    width: 500px;
}
.right-area img{
    width: 95%;
    margin-left: 15px;
}
button{
    background-image: linear-gradient(to right, #FB934A, #FD4D30);

    font-size: 18px;
    color: #FFF;
    margin-top: 24px;

    border-radius: 23px;
    border: 1px solid transparent;
    padding: 8px 21px;
}
/* button:hover{
    background-color: #f74808;
} */

/* abou-area start form heare */

.about-area{
    background-image: url("images/7.png");
    height: 400px;
    padding: 50px;

}
.bg-araea{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.about-right{
    width: 280px;
}
.about-right img{
    width: 100%;
}
.about-left{
    width: 500px;
    margin-top: 128px;
}
.about-left h1{
    font-size: 2.8em;
}
.about-left p{
    font-size: 20px;
}

.resipi-header {
    width: 80%;
    margin: auto;
    padding: 40px;
}
.resipi-header h1{
    margin-left: 440px;
    margin-bottom: 20px;
}
.resipi-header >p{
    text-align: center;
    line-height: 28px;
}

.box-area{
    width: 90%;
    display: flex;
    margin-left: 75px;
    margin-bottom: 100px;
}
.box{
    width: 300px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin: 0 40px;
    padding: 20px;
    margin: auto;
}
.box img{
    width: 300px;
    display: flex;
    border-radius: 10px;
}
.box h2{
    margin: 10px;
}

/* score area start form heare */
.score-area{
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 150px;
    width: 85%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.contact-from{
    display: flex;
    width: 91%;
    justify-content: space-evenly;
    margin-left: 65px;

}
.con-left-ara{
    margin: 0 20px;
    height: 430px;

}
.con-left-ara input, textarea{
    display: block;
    width: 100%;
    padding: 2px;
    font-size: 18px;
    border-radius: 3px;
    border: 1px solid #000;
    box-sizing: border-box;
    
}
.con-left-ara input, textarea:focus{
    outline: none;
}

.con-left-ara label{
    font-size: 18px;
}

/* footer-area start form heare */


.footer-area{
    background-color: #000;
    height: 200px;
    margin-top: 160px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.footer-area h1{
    color: #575353;
}
.footer-area p{
    color: #FFF;
}
.footer-area span{
    color: #f74808;
}








































